.nav_container {
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-dark-10);
    height: 88px;
    border-radius: 10px 10px 0 0;
}

.left_block {
    font-size: 2.5rem;
    font-weight: 900;
    cursor: pointer;
    margin: 0px 3vw 0px 25px;
}

.no_decor {
    color: var(--bg-dark-text-95);
    text-decoration: none;
}

.middle_block {
    display: flex;
    flex-wrap: nowrap;
    color: var(--bg-dark-text-95);
    max-width: 600px;
    font-size: 1.5rem;
    margin-top: 10px;
    gap: 1.4vw;
    white-space: nowrap;
    text-decoration: none;
}

.right_block {
    /* ./search.module.css */
}

@media (min-width: 2560px) {
    .middle_block {
        gap: 40px;
    }
}
