.s {
    display: flex;
    gap: 2px;
}

.star {
    position: relative;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    color: var(--bg-dark-button-30);
    transition: color 0.1s;
}

.star .fill {
    position: absolute;
    inset: 0;
    overflow: hidden;
    color: var(--star-rating);
}

.star.clickable {
    cursor: pointer;
}

.star.clickable:hover {
    color: var(--star-rating);
}