.main_block {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-flow: column nowrap;
    color: white;
}

.main_block h2 {
    position: relative;
    margin: 15px 0px 15px 15px;
    font-size: 2rem;
    font-weight: 700;
    color: var(--bg-black-text)
}

.book_cards_container {
    display: flex;
    width: 1060px;
    margin-left: 15px;
}
