.main_block {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-flow: column nowrap;
    overflow: hidden;
    color: white;
}

.main_block h2 {
    position: relative;
    margin: 15px 0px 15px 25px;
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--bg-black-text)
}

.cards_carousel {
    display: flex;
    width: 100%;
    overflow-x: auto;
}

.cards_carousel::-webkit-scrollbar {
    display: none;
}

.loading_placeholder {
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    color: var(--bg-light-text);
    width: 200px;
    height: 250px;
    margin-left: 25px;
    border-radius: 5px;
    background-color: var(--bg-dark-cover);
    animation: loading 1s linear infinite alternate;
}

@keyframes loading {
    0% {
        background-color: var(--bg-dark-text);
    }

    100% {

        background-color: var(--bg-dark-cover);
    }
}

.group {
    display: flex;
    width: 100%;
    gap: 5px;
}

