.bookcard_container {
    width: 200px;
    margin-left: 1.5rem;
}

.cover_container {
    background-color: var(--bg-dark-cover);
}

.cover_container, .cover_container img {
    width: 100%;
    height: 250px;
    border-radius: 5px 5px 0px 0px;
}

.info_card {
    display: flex;
    flex-flow: column nowrap;
    width: 180px;
    height: 120px;
    border-radius: 0px 0px 5px 5px;
    background-color: var(--bg-dark-low);
}

.top_part {
    display: flex;
    width: 100%;
    margin-top: 10px;
    gap: 3px;
}

.star_svg {
    width: 2.5rem;
    height: 18px;
    margin-left: 10px; 
    background-size: 18px;
    background: url("data:image/svg+xml,%3Csvg%20width='18'%20height='18'%20viewBox='0%200%2010%2010'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20d='M4.75537%200L5.87794%203.45492H9.51065L6.57173%205.59017L7.6943%209.04508L4.75537%206.90983L1.81644%209.04508L2.93901%205.59017L8.86917e-05%203.45492H3.6328L4.75537%200Z'%20fill='%23F5C518'/%3E%3C/svg%3E") no-repeat center;
}

.rating_score {
    font-size: 1rem; 
    color: var(--bg-dark-text);
}

.rating_count {
    font-size: 0.7rem;
    color: var(--bg-dark-text-count);
}

.button_container {
    display: flex;
    justify-content: end;
    width: 100%;
}

.button_container button {
    width: 35px;
    height: 35px;
    border: none;
    margin-top: -10px;
    border-radius: 0px 0px 0px 5px;
    font-size: 1.7rem;
    font-weight: 700;
    background-color: var(--bg-dark-button);
    color: var(--bg-dark-text);
}

.bottom_part {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100%;
    text-align: start;
    font-size: 0.9rem;
    margin: 0px 0px 0px 10px;
    color: var(--bg-dark-text-secondary);
}

.bottom_part p {
    font-size: 1rem;
    margin: 0;
    margin-top: 4px;
    color: var(--bg-dark-text);
}
